   /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* --- mine --- */

.page-header {
  margin-top: 20px;
}

#deviceList li img {
  margin: -3px 5px 0 0;
}

.icon {
  background-repeat: no-repeat;
  padding-left: 28px !important;
  background-position: 7px 12px;
}

.loading {
  background-image: url("./img/loader.gif");
}

.casting {
  background-image: url("./img/casting.png");
}

.casting:hover {
  background-image: url("./img/cancel.png");
}
